
table {
    border: 15px solid grey;
    margin-left: auto;
    margin-right: auto;
}
 
input[type="button"] {
    width: 100%;
    padding: 15px 30px;
    background-color: rgba(128, 128, 128, 0.565);
    color: black;
    font-size: 15px;
    font-weight: bolder;
    border: 2px;
    border-radius: 5px;
}
 
input[type="text"] {
    padding: 15px 110px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 5px solid grey;
    text-align: left;
}
 
display {
    text-align: left;
}
button{
    padding: 10px 50px;
    background-color: rgba(128, 128, 128, 0.565);
    font-size: 15px;
    font-weight: bold;
}